/*@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "marker";
  src: url("fonts/PermanentMarker-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@layer components {
  .wow-stroke-txt {
    @apply  font-bold tracking-tighter;
    -webkit-text-stroke-width: 1.40px;
    -webkit-text-stroke-color: black;
    font-family: Tahoma;
  }

  .blog-article>h1 {
    @apply  underline decoration-sky-500 decoration-2 text-2xl;
  }

  .blog-article>h2 {
    @apply  underline decoration-sky-300 decoration-2 text-xl;
  }
}