/*@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "marker";
  src: url("fonts/PermanentMarker-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@layer components {
  .wow-stroke-txt {
    @apply  font-bold tracking-tighter;
    -webkit-text-stroke-width: 1.40px;
    -webkit-text-stroke-color: black;
    font-family: Tahoma;
  }

  .blog-article>h1 {
    @apply font-bold text-2xl text-red-500 ;
  }

  .blog-article>h2 {
    @apply font-bold text-xl;
  }

  .blog-article > a {
    @apply underline decoration-sky-500 decoration-2 text-2xl hover:text-blue-800 visited:text-purple-600;
  }

  .background-grid-green {
    background-image: url(grid_green_squares.svg);
    background-repeat: repeat;
    background-size: 22px 22px;
  }

  .background-gray-green {
    background-image: url(grid_gray_squares.svg);
    background-repeat: repeat;
    background-size: 8px 8px;
  }
}